.background-home {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.background-left-home {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.header-container-home {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-card-home {
  background: #F5F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  height: 15vh;
  width: 50vw;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 50px;
  gap: 1vw;
}

.banner-home {
  width: 150px;
  height: 150px;
}

.games-container-home {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label-section-title-home {
  font-weight: 500;
  font-size: 25px;
  margin-left: 1vw;
}

.games-home:hover .navigateBefore, 
.games-home:hover .navigateNext {
  opacity: 1;
}

.games-home {
  margin-left: 0.5vw;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5vh;
  transition: all ease 0.2s;
}

.footer-container-home {
  height: 10vh;
  width: 100%;
  margin-bottom: 1.5vh;
  display: flex;
  align-items: center;
  gap: 5vw;
}

.footer-inputs-home {
  height: 100%;
  width: 40%;
  margin-left: 1.5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-selects-home {
  box-sizing: border-box;
  outline: none;
  border: none;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  border-radius: 5px;
  font-size: 18px;
  background-color: #F0F2F5;
}

.footer-content-home {
  background-color: #1D3557;
  padding: 15px;
  border-radius: 10px;
  color: #F5F5F5;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
}

.background-right-home {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.option-buttons-container-home {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: flex-end;
}

.option-button-box-home {
  height: fit-content;
  color: #1D3557;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2vw;
  margin-top: 2vh;
  cursor: pointer;
}

.option-image-home {
  width: 40px;
  height: 40px;
}

.option-image-description {
  cursor: pointer;
}

.history-container-home {
  color: #F5F5F5;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-content-home {
  background: #1D3557;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 80%;
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.history-label-title-home {
  align-self: center;
  font-weight: 500;
  font-size: 25px;
}

.history-list-home {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.history-list-home::-webkit-scrollbar {
  width: 10px;
}

.history-list-home::-webkit-scrollbar-thumb {
  background-color: #F5F5F5;
  border-radius: 20px;
}