.backgroundGameCard {
  display: flex;
  align-self: center;
  flex-direction: column;
  cursor: pointer;
  width: 90%;
  height: 22%;
  gap: 0.5vh;
  margin-bottom: 2.5vh;
}

.upperContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  gap: 0.5vw;
}

.imageContainerGameCard {
  width: 35%;
  height: 100%;
}

.imageGameCard {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.dataContainerGameCard {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1vh;
  gap: 1vh;
}

.titleGameCard {
  font-weight: 500;
  font-size: 18px;
}

.descriptionGameCard {
  font-size: 14px;
}

.lowerContainer {
  height: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0vw 1vw 0vw 1vw;
}

.line {
  align-self: center;
  width: 90%;
  border: 1px solid #FFF;
  margin-top: 1vh;
}