.image-container-game-image {
    width: 150px;
    height: 150px;
}
  
.image-game-image {
    width: 100%;
    height: 100%;
    border-radius: 2px; 
    transform: scale(0.9);
    cursor: pointer;
    transition: all ease 0.2s;
}

.image-game-image:hover {
    transform: scale(1);
}