.container-game {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #2F2F2F;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.close-game {
  position: absolute;
  top: 1vh;
  right: 1vw;
  cursor: pointer;
}

.iframe-game {
  width: 1024px;
  height: 600px;
  border: none;
  outline: none;
  overflow: hidden;
}