.container-game {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-game {
  position: absolute;
  top: 1vh;
  right: 1vw;
  cursor: pointer;
}