.list-area-game-row {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.list-game-row {
    width: 9999px;
    height: 150px;   
    display: flex;
    flex-direction: row;
}

.navigate-before-game-row, .navigate-next-game-row {
    position: absolute;
    width: 35px;
    height: 150px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
  }
  
  .navigate-before-game-row {
    left: 0;
  }
  
  .navigate-next-game-row {
    right: 0;
  }